<mat-toolbar color="primary" class="mat-elevation-z4">
  <mat-toolbar-row>
    <span>Cook4U</span>
    <button mat-button routerLink="home" >Accueil</button>
    <button mat-button *ngIf="this.auth.isUser()" routerLink="reservation" >Réserver</button>
    <div *ngIf="this.auth.isCook()then myReservationForCooks else myReservationForUsers"></div>
    <ng-template #myReservationForCooks>
      <button *ngIf="this.auth.isLoggedIn()" mat-button routerLink="cook/reservations" >Mes réservations</button>
    </ng-template>
    <ng-template #myReservationForUsers>
      <button *ngIf="this.auth.isLoggedIn()" mat-button routerLink="user/reservations" >Mes réservations</button>
    </ng-template>

  
    <button *ngIf="this.auth.isUser()" mat-button routerLink="cooks" >Les chefs</button>
    <button *ngIf="this.auth.isCook()" mat-button routerLink="my-menus" >Mes menus</button>
    <span class="spacer"></span>   
    <div *ngIf="this.auth.isLoggedIn(); then logoutButton else loginButton"></div>
    <ng-template #loginButton>
      <button  mat-button routerLink="signin" >Se connecter</button>
    </ng-template>
    <ng-template #logoutButton>
      <button mat-button routerLink="logout" >Se déconnecter</button>
    </ng-template>
    
  </mat-toolbar-row>
</mat-toolbar>