  <div id="carouselExampleIndicators" #mycarouselControls class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">            
      <div>
            <ul *ngFor="let pic of cooks;let i=index; first as isFirst">
                <div [ngClass]="isFirst ? 'carousel-item active' : 'carousel-item' ">
                  <div class="carousel-card">
                    <img src="../../../assets/static/images/cooking.png" class="cook-icon" alt="...">
                    <div>
                      <h5>{{pic.name}}</h5>
                      <p>{{pic.description}}</p>
                    </div>                    
                </div>   
              </div>                                  
            </ul>
          </div>
</div>