<div class="form-container">
    <header class="header">
        <h1 class="title">
            Reservation
        </h1>
    </header>
    <form [formGroup]="form" (ngSubmit)="submitForm()" class="form">
        <mat-form-field>
            <mat-label>Cook</mat-label>
            <mat-select formControlName="cook" [(ngModel)]="selectedCook" (selectionChange)="getMenusForCook($event)">
                <mat-option *ngFor="let cook of cooks" [value]="cook">
                    {{cook.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Menu</mat-label>
            <mat-select placeholder="Menu" formControlName="menu" [(ngModel)]="selectedMenu" (selectionChange)="getDishesForMenu($event)">
                <mat-option *ngFor="let menu of menus" [value]="menu">
                    {{menu.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput [min]="minDate" [matDatepicker]="picker" formControlName="date" [matDatepickerFilter]="cookDateFilter">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nombre de personnes</mat-label>
            <input matInput formControlName="personsNumber" type="number" min="1" max="5" (change)="resetDishes()">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput formControlName="address">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Phone number</mat-label>
            <input matInput formControlName="phoneNumber">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Comments</mat-label>
            <textarea matInput formControlName="comments"></textarea>
        </mat-form-field>

        <div class="row">
            <div class="col" >
                    <mat-label *ngIf="starters.length > 0">Entrées</mat-label>
                    <div formArrayName="entries" *ngFor="let item of starters;let i = index">
                        <div [formGroupName]="i">
                            <mat-form-field>
                                <mat-label>{{starters[i].name}} : </mat-label>
                                <input  matInput [formControlName]="starters[i].name" type="number" min="0" (change)="checkMaxAvailable('Starter')">
                            </mat-form-field>
                        </div>
                        
                    </div>
                    <div class="alert alert-danger" [hidden]="!starterError">
                        {{ starterError }}
                      </div>
            </div>
            <div class="col" >
                <mat-label *ngIf="mainD.length > 0">Plats Principaux</mat-label>
                <div formArrayName="mainDishes" *ngFor="let item of mainD;let i = index">
                    <div [formGroupName]="i">
                        <mat-form-field>
                            <mat-label>{{mainD[i].name}} : </mat-label>
                            <input  matInput [formControlName]="mainD[i].name" type="number" min="0" (change)="checkMaxAvailable('Main')">
                        </mat-form-field>
                    </div>                  
                </div>
                <div class="alert alert-danger" [hidden]="!mainError">
                    {{ mainError }}
                  </div>
            </div>   
            <div class="col" >
                <mat-label *ngIf="desserts.length > 0">Desserts</mat-label>
                <div formArrayName="deserts" *ngFor="let item of desserts;let i = index">
                    <div [formGroupName]="i">
                        <mat-form-field>
                            <mat-label>{{desserts[i].name}} : </mat-label>
                            <input  matInput [formControlName]="desserts[i].name" type="number" min="0" (change)="checkMaxAvailable('Dessert')">
                        </mat-form-field>
                    </div>
                    
                </div>
                <div class="alert alert-danger" [hidden]="!dessertError">
                    {{ dessertError }}
                  </div>
            </div>   
        </div>
        <button mat-raised-button color="primary" [disabled]="form.invalid || disableSubmit" *ngIf="!isReservLoading">Réserver</button>
        <div class="loading-result" *ngIf="isReservLoading">
            <mat-spinner style="margin: 0 auto"></mat-spinner>
        </div>
        <div class="alert alert-success" *ngIf="successMessage">
            {{ successMessage }}
          </div>
          <div class="alert alert-danger" *ngIf="failureMessage">
            {{ failureMessage }}
          </div>
        
    </form>
</div>
